*.a
*.o
*.os
*.pyc
*.so
moc_*
ui_*.h

ColorBar/Test/colorbartest
Knob/Test/knobtest
ScopePlot/Test/scopeplottest
StatusGauge/Test/statusgaugetest
TwoKnobs/Test/twoknobstest
QtBscan/BscanShareDir.h

/PPI/Test/ppitest
/TAGS
/apidocs/
/bin/
/config.log
/.sconsign.dblite
/.sconf_temp/
